@model IEnumerable<ViewTunjangan>

@if (TempData["ResultOk"] != null)
{
    <h1 class="card-header">@TempData["ResultOk"]</h1>
}

<script type="text/javascript">
    $(document).ready(function () {
        $.noConflict();
        $('#myDataTable').DataTable({
            order: [1,'asc']
        });
    });
</script>

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tunjangan/</span>Semua Pegawai</h4>
    <!-- Basic Bootstrap Table -->
    <div class="card">
        <h5 class="card-header"> <a href="MTunjangan/Create" class="btn btn-sm btn-outline-primary">Create</a></h5>
        <div class="card-header">

            <table class="table" id="myDataTable">
                <thead>
                    <tr>
                        <th>Kode Tunjangan</th>
                        <th>Nama Tunjangan</th>
                        <th>Nominal</th>
                        <th>Grade</th>
                        <th>Jabatan</th>
                        <th>Daily</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.kode_tunjangan</strong></td>
                            <td>@item.nama_tunjangan</td>
                            <td>@String.Format("{0:n}", item.nominal)</td>
                            <td>@item.grade</td>
                            <td>@item.nama_jabatan</td>
                            <td>
                                @if (item.daily == true)
                                {
                                    <span class="badge bg-label-primary me-1">Yes</span>
                                }
                                else
                                {
                                    <span class="badge bg-label-danger me-1">No</span>
                                }
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-controller="MTunjangan" asp-action="Edit" asp-route-id="@item.id"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                        <a class="dropdown-item" asp-controller="MTunjangan" asp-action="Delete" asp-route-id="@item.id"><i class="bx bx-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>