@model WebAppSDM.Models.AUser

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var KaryawanList = (List<DropdownList.KaryawanList>)ViewData["KaryawanList"];
    var RoleList = (List<ARole>)ViewData["RoleList"];
}
@if (TempData["ResultOk"] != null)
{
    <h1 class="card-header">@TempData["ResultOk"]</h1>
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Authorize/</span> Edit Account</h4>

    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="id" />
                        <div class="form-group">
                            <label class="control-label">Nama</label>
                            <select asp-for="nip" class="form-control" required>
                                @foreach (var item in KaryawanList)
                                {
                                    <option value="@item.NIP">@item.nama</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="username" class="control-label"></label>
                            <input asp-for="username" class="form-control" required/>
                            <span asp-validation-for="username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="password" class="control-label"></label>
                            <input type="password" asp-for="password" class="form-control" required />
                            <span asp-validation-for="password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="email" class="control-label"></label>
                            <input type="email" asp-for="email" class="form-control" required/>
                            <span asp-validation-for="email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="role_id" class="control-label"></label>
                            <select asp-for="role_id" class="form-control" required>
                                @foreach (var item in RoleList)
                                {
                                    <option value="@item.id">@item.name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="isactive" class="control-label"></label>
                            <select asp-for="isactive" class="form-control" required>
                                <option value=1>Active</option>
                                <option value=0>Not Active</option>
                            </select>
                            <span asp-validation-for="isactive" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <a asp-controller="AUsers" asp-action="Index" class="btn btn-lg btn-danger p-2">Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>