@model IEnumerable<WebAppSDM.Models.AUser>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    string role = HttpContextAccessor.HttpContext.Session.GetString("role");
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["ResultOk"] != null)
{
    <h1 class="card-header">@TempData["ResultOk"]</h1>
}

<script type="text/javascript">
    $(document).ready(function () {
        $.noConflict();
        $('#myDataTable').DataTable({});
    });
</script>
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Authorize/</span>Account</h4>
    <!-- Basic Bootstrap Table -->
    <div class="card">
        @if (role == "1")
        {
            <h5 class="card-header"> <a asp-action="Create" class="btn btn-sm btn-outline-primary">Create</a></h5>
        }
        <div class="card-header">

            <table class="table" id="myDataTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.username)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.role_id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.isactive)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.nip)
                        </th>
                        <th>
                            Act
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.role_id)
                            </td>
                            <td>
                                @if (item.isactive == 1)
                                {
                                    <span class="badge bg-label-primary me-1">Yes</span>
                                }
                                else
                                {
                                    <span class="badge bg-label-danger me-1">No</span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nip)
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.id"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
