@model IEnumerable<WebAppSDM.Models.ViewAbsenKhusus>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $.noConflict();
        $('#myDataTable').DataTable({
            "order": []
        });
    });
</script>

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Absen/</span>Absen Khusus</h4>
    <!-- Basic Bootstrap Table -->
    <div class="card">
        <h5 class="card-header"> <a asp-action="create" class="btn btn-sm btn-outline-primary">Create</a></h5>
        <div class="card-header">

            <table class="table" id="myDataTable">
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>
                            NIP
                        </th>
                        <th>
                            Tanggal Mulai
                        </th>
                        <th>
                            Tanggal Selesai
                        </th>
                        <th>
                            Keterangan
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.nama</td>
                            @if (item.nip == 999)
                            {
                                <td>
                                    Seluruh Pegawai
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.nip)
                                </td>
                            }

                            <td>
                                @item.periode_start.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @item.periode_end.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.keterangan)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
