@model IEnumerable<WebAppSDM.Models.ViewTMutasi>

@if (TempData["ResultOk"] != null)
{
    <h1 class="card-header">@TempData["ResultOk"]</h1>
}

<script type="text/javascript">
    $(document).ready(function () {
        $.noConflict();
        $('#myDataTable').DataTable({});
    });
</script>

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Transaksi/</span>Mutasi</h4>
    <!-- Basic Bootstrap Table -->
    <div class="card">
        <h5 class="card-header"> <a asp-action="Create" class="btn btn-sm btn-outline-primary">Create</a></h5>
        <div class="card-header">
            <div class="col-12">
                <div class="card overflow-hidden" style="height: 500px">
                    <div class="card-body" id="both-scrollbars-example">
                        <table class="table" id="myDataTable">
                            <thead>
                                <tr>
                                    <th>
                                        NAMA
                                    </th>
                                    <th>
                                        JENIS MUTASI
                                    </th>
                                    <th>
                                        GRADE BARU
                                    </th>
                                    <th>
                                        JABATAN BARU
                                    </th>
                                    <th>
                                       TANGGAL MUTASI
                                    </th>
                                    <th>
                                       No. SK
                                    </th>
                                    <th>
                                        KETERANGAN
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.nama
                                        </td>
                                        <td>
                                            @item.jenis_mutasi
                                        </td>
                                        <td>
                                            @item.grade_new_name
                                        </td>
                                        <td>
                                            @item.jabatan_new_name
                                        </td>
                                        <td>
                                            @item.date_mutasi.ToString("dd/MM/yyyy")
                                        </td>
                                        <td>
                                            @item.no_sk
                                        </td>
                                        <td>
                                            @item.keterangan
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                                            <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>