@model IEnumerable<WebAppSDM.Models.MEmployee>
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var extphoto = ".jpg";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Detail Karyawan </span></h4>

    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-body">
                    @foreach (var item in Model)
                    {
                        <dl class="row">
                            <dt class="col-sm-3">
                                <img src="~/photos/@item.nip@extphoto" style=" width: 100%;height: auto;" />
                            </dt>
                            <dt class="col-sm-3">
                                NIP
                            </dt>
                            <dd class="col-sm-6">
                                : @item.nip
                            </dd>

                            <dt class="col-sm-3">
                                NAMA
                            </dt>
                            <dd class="col-sm-9">
                                : @item.nama
                            </dd>
                            <dt class="col-sm-3">
                                TEMPAT, TGL LAHIR
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_pob , @item.emp_dob.Value.ToString("dd/MM/yyyy")
                            </dd>
                            <dt class="col-sm-3">
                                JENIS KELAMIN
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_sex
                            </dd>
                            <dt class="col-sm-3">
                                ALAMAT 1
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_address_1
                            </dd>
                            <dt class="col-sm-3">
                                ALAMAT 2
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_address_2
                            </dd>
                            <dt class="col-sm-3">
                                NO. HANDPHONE 1
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_phone_1
                            </dd>
                            <dt class="col-sm-3">
                                NO. HANDPHONE 2
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_phone_2
                            </dd>
                            <dt class="col-sm-3">
                                NO. TELEPHONE 1
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_cellphone_1
                            </dd>
                            <dt class="col-sm-3">
                                NO. TELEPHONE 2
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_cellphone_2
                            </dd>
                            <dt class="col-sm-3">
                                AGAMA
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_religion
                            </dd>
                            <dt class="col-sm-3">
                                NO. NPWP
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_NPWP
                            </dd>
                            <dt class="col-sm-3">
                                emp_KTP
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_KTP
                            </dd>
                            <dt class="col-sm-3">
                                emp_passport
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_passport
                            </dd>
                            <dt class="col-sm-3">
                                emp_passportexp
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_passportexp
                            </dd>
                            <dt class="col-sm-3">
                                emp_licenseA
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_licenseA
                            </dd>
                            <dt class="col-sm-3">
                                emp_licenseAexp
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_licenseAexp
                            </dd>
                            <dt class="col-sm-3">
                                emp_licenseB
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_licenseB
                            </dd>
                            <dt class="col-sm-3">
                                emp_licenseBexp
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_licenseBexp
                            </dd>
                            <dt class="col-sm-3">
                                emp_licenseC
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_licenseC
                            </dd>
                            <dt class="col-sm-3">
                                emp_licenseCexp
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_licenseCexp
                            </dd>
                            <dt class="col-sm-3">
                                emp_marital
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_marital
                            </dd>
                            <dt class="col-sm-3">
                                emp_dom
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_dom
                            </dd>
                            <dt class="col-sm-3">
                                emp_email
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_email
                            </dd>
                            <dt class="col-sm-3">
                                emp_aktif
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_aktif
                            </dd>
                            <dt class="col-sm-3">
                                emp_photo
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_photo
                            </dd>
                            <dt class="col-sm-3">
                                emp_ptkp
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_ptkp
                            </dd>
                            <dt class="col-sm-3">
                                emp_norek
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_norek
                            </dd>
                            <dt class="col-sm-3">
                                emp_bank
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_bank
                            </dd>
                            <dt class="col-sm-3">
                                emp_an
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_an
                            </dd>
                            <dt class="col-sm-3">
                                emp_status
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_status
                            </dd>
                            <dt class="col-sm-3">
                                emp_darah
                            </dt>
                            <dd class="col-sm-9">
                                : @item.emp_darah
                            </dd>
                            <dt class="col-sm-3">
                                grade_id
                            </dt>
                            <dd class="col-sm-9">
                                : @item.grade_id
                            </dd>
                            <dt class="col-sm-3">
                                jabatan_id
                            </dt>
                            <dd class="col-sm-9">
                                : @item.jabatan_id
                            </dd>
                            <dt class="col-sm-3">
                                salary
                            </dt>
                            <dd class="col-sm-9">
                                : @item.salary
                            </dd>
                            <dt class="col-sm-3">
                                permanent_date
                            </dt>
                            <dd class="col-sm-9">
                                : @item.permanent_date
                            </dd>
                            <dt class="col-sm-3">
                                contract_date
                            </dt>
                            <dd class="col-sm-9">
                                : @item.contract_date
                            </dd>
                            <dt class="col-sm-3">
                                date_of_entry
                            </dt>
                            <dd class="col-sm-9">
                                : @item.date_of_entry
                            </dd>
                            <dt class="col-sm-3">
                                <a asp-action="Edit" asp-route-id="@item?.id">Edit</a> |
                                <a asp-action="Index">Back to List</a>
                            </dt>
                            <dd class="col-sm-9">

                            </dd>
                        </dl>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
