@model IEnumerable<WebAppSDM.Models.MEmployee>
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var extphoto = ".jpg";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Detail Karyawan </span></h4>

    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-body">
                    @foreach (var item in Model)
                    {
                        <table border="0" width="100%">
                            <thead>
                                <tr>
                                    <th rowspan="22" width="20%" style="vertical-align: top;"><center><img src="~/photos/@item.nip@extphoto" style=" width: 40%;height: auto;" /></center></th>
                                    <th width="20%">NIP</th>
                                    <th>: @item.nip</th>
                                </tr>
                                <tr>
                                    <th>Nama</th>
                                    <th>: @item.nama</th>
                                </tr>
                                <tr>
                                    <th>Tempat, Tgl Lahir</th>
                                    <th>: @item.emp_pob , @item.emp_dob.Value.ToString("dd/MM/yyyy")</th>
                                </tr>
                                <tr>
                                    <th>Jenis Kelamin</th>
                                    <th>: @item.emp_sex</th>
                                </tr>
                                <tr>
                                    <th>Alamat 1</th>
                                    <th>: @item.emp_address_1</th>
                                </tr>
                                <tr>
                                    <th>Alamat 2</th>
                                    <th>: @item.emp_address_2</th>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <th>: @item.emp_email</th>
                                </tr>
                                <tr>
                                    <th>No. Handphone</th>
                                    <th>: @item.emp_phone_1 / @item.emp_phone_2</th>
                                </tr>
                                 <tr>
                                    <th>Agama</th>
                                    <th>: @item.emp_religion</th>
                                </tr>
                                <tr>
                                    <th>No. NPWP</th>
                                    <th>: @item.emp_NPWP</th>
                                </tr>
                                <tr>
                                    <th>NIK KTP</th>
                                    <th>: @item.emp_KTP</th>
                                </tr>
                                 <tr>
                                    <th>ID Passport</th>
                                    <th>: @item.emp_passport</th>
                                </tr>
                                <tr>
                                    <th>Exp Passport</th>
                                    <th>: @item.emp_passportexp</th>
                                </tr>
                                  <tr>
                                    <th>Status</th>
                                    <th>: @item.emp_marital</th>
                                </tr>
                                <tr>
                                    <th>Tanggal Menikah</th>
                                    @if (item.emp_dom != null)
                                    {
                                        <th>: @item.emp_dom.Value.ToString("dd/MM/yyyy") </th>
                                    }
                                    else
                                    {
                                        <th>:
                                        </th>
                                            
                                    }
                                    
                                </tr>
                                <tr>
                                    <th>Status PTKP</th>
                                    <th>: @item.emp_ptkp</th>
                                </tr>
                                <tr>
                                    <th>Bank</th>
                                    <th>: @item.emp_bank</th>
                                </tr>
                                <tr>
                                    <th>No Rekening</th>
                                    <th>: @item.emp_norek</th>
                                </tr>
                                <tr>
                                    <th>Gol Darah</th>
                                    <th>: @item.emp_darah</th>
                                </tr>
                            </thead>
                        </table>
                    }
                    <br />
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
