@model IEnumerable<WebAppSDM.Models.MEmployee>
@{
    var familyList = (List<MEmpFamily>)ViewData["familyList"];
    var eduList = (List<MEmpEducations>)ViewData["eduList"];
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var extphoto = ".jpg";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Detail Karyawan </span></h4>

    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-body">
                    @foreach (var item in Model)
                    {
                        <h5><strong>A. Data Pribadi</strong></h5>
                        <hr />
                        <img src="~/photos/@item.nip@extphoto" style=" width: 10%;height: auto;" />
                        <hr />
                        <table border="0" width="100%">
                            <tr>
                                <td width="20%">NIP</td>
                                <td>: @item.nip</td>
                            </tr>
                            <tr>
                                <td>Nama</td>
                                <td>: @item.nama</td>
                            </tr>
                            <tr>
                                <td>Tempat, Tgl Lahir</td>
                                <td>: @item.emp_pob , @item.emp_dob.Value.ToString("dd/MM/yyyy")</td>
                            </tr>
                            <tr>
                                <td>Jenis Kelamin</td>
                                <td>: @item.emp_sex</td>
                            </tr>
                            <tr>
                                <td>Alamat 1</td>
                                <td>: @item.emp_address_1</td>
                            </tr>
                            <tr>
                                <td>Alamat 2</td>
                                <td>: @item.emp_address_2</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>: @item.emp_email</td>
                            </tr>
                            <tr>
                                <td>No. Handphone</td>
                                <td>: @item.emp_phone_1 / @item.emp_phone_2</td>
                            </tr>
                            <tr>
                                <td>Agama</td>
                                <td>: @item.emp_religion</td>
                            </tr>
                            <tr>
                                <td>No. NPWP</td>
                                <td>: @item.emp_NPWP</td>
                            </tr>
                            <tr>
                                <td>NIK KTP</td>
                                <td>: @item.emp_KTP</td>
                            </tr>
                            <tr>
                                <td>ID Passport</td>
                                <td>: @item.emp_passport</td>
                            </tr>
                            <tr>
                                <td>Exp Passport</td>
                                <td>: @item.emp_passportexp</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>: @item.emp_marital</td>
                            </tr>
                            <tr>
                                <td>Tanggal Menikah</td>
                                @if (item.emp_dom != null)
                                {
                                    <td>: @item.emp_dom.Value.ToString("dd/MM/yyyy") </td>
                                }
                                else
                                {
                                    <td>
                                        :
                                    </td>
                                }

                            </tr>
                            <tr>
                                <td>Status PTKP</td>
                                <td>: @item.emp_ptkp</td>
                            </tr>
                            <tr>
                                <td>Bank</td>
                                <td>: @item.emp_bank</td>
                            </tr>
                            <tr>
                                <td>No Rekening</td>
                                <td>: @item.emp_norek</td>
                            </tr>
                            <tr>
                                <td>Gol Darah</td>
                                <td>: @item.emp_darah</td>
                            </tr>
                        </table>
                    }
                    <br />
                    <h5><strong>B. Data Keluarga</strong></h5>
                    <hr />
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Nama</td>
                                    <td>Hubungan</td>
                                    <td>TTL</td>
                                    <td>Jenis Kelamin</td>
                                    <td>NIK</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in familyList)
                                {
                                    <tr>
                                        <td>@item.fam_name</td>
                                        <td>@item.fam_relationship</td>
                                        <td>@item.fam_pob / @item.fam_dob.Value.ToString("dd MM yyyy")</td>
                                        @if (item.fam_sex == "1")
                                        {
                                            <td>Laki laki</td>
                                        }
                                        else
                                        {
                                            <td>Perempuan</td>
                                        }
                                        <td>@item.fam_KTP</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <h5><strong>C. Data Pendidikan</strong></h5>
                    <hr />
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Jenjang Pendidikan</td>
                                    <td>Tempat</td>
                                    <td>Tahun Kelulusan</td>
                                    <td>Fakultas</td>
                                    <td>Nilai/IPK</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in eduList)
                                {
                                    <tr>
                                        <td>@item.edu_strata</td>
                                        <td>@item.edu_place</td>
                                        <td>@item.edu_year</td>
                                        <td>@item.edu_faculty</td>
                                        <td>@String.Format("{0:0.00}",item.emp_gpa)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <h5><strong>D. Kontak Darurat</strong></h5>
                    <hr />
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Nama</td>
                                    <td>Hubungan</td>
                                    <td>Alamat</td>
                                    <td>No HP</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
