@model IEnumerable<WebAppSDM.Models.MEmployee>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    string role = HttpContextAccessor.HttpContext.Session.GetString("role");
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $.noConflict();
        $('#myDataTable').DataTable({
            "order": []
        });
    });
</script>
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Karyawan/</span>Data Karyawan</h4>
    <!-- Basic Layout -->
    <div class="col-xxl">
        <div class="card mb-4">
            @if (role == "1")
            {
                <h5 class="card-header"> <a asp-action="Create" class="btn btn-sm btn-outline-primary">Create</a></h5>
            }
            <div class="card-body">
                <div class="col-12">
                    <div class="card overflow-hidden" style="height: 500px">
                        <div class="card-body" id="both-scrollbars-example">

                            <table class="display compact" style="width:100%" id="myDataTable">
                                <thead>
                                    <tr>
                                        <th>
                                           Nama
                                        </th>
                                        <th>
                                            NIP
                                        </th>
                                        <th>
                                           Status Aktif
                                        </th>
                                        <th>
                                           Status Kepegawaian
                                        </th>
                                        <th>
                                            Gaji Pokok
                                        </th>
                                        <th>Act</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.nama)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.nip)
                                            </td>

                                            <td>
                                                @if (item.emp_aktif.ToString() == "t")
                                                {
                                                    <span class="badge bg-label-primary me-1">Aktif</span>
                                                }
                                                else
                                                {
                                                    <span class="badge bg-label-danger me-1">Tdk Aktif</span>
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.emp_status)
                                            </td>

                                            <td>
                                                @String.Format("{0:n}", item.salary)
                                            </td>
                                            @if (role == "1")
                                            {
                                                <td>
                                                    <div class="dropdown">
                                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                            <i class="bx bx-dots-vertical-rounded"></i>
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.id"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                                            <a class="dropdown-item" asp-action="Details" asp-route-id="@item.id"><i class="bx bx-detail"></i> Detail</a>
                                                            <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.id"><i class="bx bx-trash"></i> Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <div class="dropdown">
                                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                            <i class="bx bx-dots-vertical-rounded"></i>
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.id"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                                            <a class="dropdown-item" asp-action="Details" asp-route-id="@item.id"><i class="bx bx-detail"></i> Detail</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>