@model WebAppSDM.Models.MEmpEducations

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Yakin mau di hapus ?</h4>

    <!-- Basic Layout & Basic with Icons -->
    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">

            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.nip)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.nip)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.edu_year)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.edu_year)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.edu_place)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.edu_place)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.edu_strata)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.edu_strata)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.edu_faculty)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.edu_faculty)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.emp_gpa)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.emp_gpa)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="edu_id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>
</div>