@model IEnumerable<WebAppSDM.Models.ViewEdu>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $.noConflict();
        $('#myDataTable').DataTable({
            "order": []
        });
    });
</script>
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Karyawan/</span>Data Pendidikan</h4>
    <!-- Basic Layout -->
    <div class="col-xxl">
        <div class="card mb-4">
            <h5 class="card-header"> <a asp-action="Create" class="btn btn-sm btn-outline-primary">Create</a></h5>
            <div class="card-body">
                <div class="col-12">
                    <div class="card overflow-hidden" style="height: 500px">
                        <div class="card-body" id="both-scrollbars-example">

                            <table class="display compact" style="width:100%" id="myDataTable">
                                <thead>
                                    <tr>
                                        <th>
                                            Nama
                                        </th>
                                        <th>
                                            Jenjang Pendidikan
                                        </th>
                                        <th>
                                            Tempat
                                        </th>
                                        <th>
                                            Fakultas
                                        </th>
                                        <th>
                                            Nilai/IPK
                                        </th>
                                        <th>
                                            Tahun Kelulusan
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.nama
                                            </td>
                                            <td>
                                                @item.edu_strata
                                            </td>
                                            <td>
                                                @item.edu_place
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.edu_faculty)
                                            </td>
                                            <td>
                                                @String.Format("{0:0.00}",item.emp_gpa)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.edu_year)
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                        <i class="bx bx-dots-vertical-rounded"></i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.edu_id"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                                        <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.edu_id"><i class="bx bx-trash"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>